@*------Footer-------*@

<div class="site-footer">
    <div class="row">
        <div class="col-md-6">
            <p class="copyright-text">
                &copy; 2023 Kyclops Radio
            </p>
        </div>
        <div class="col-md-6">
            <div class="social-icons-footer">
                <ul>
                    <li><a target="_blank" href="https://www.facebook.com/KyclopsRadio" class="fa fa-facebook"></a></li>
                    <li><a href="https://twitter.com/KyclopsRadio?s=08" target="_blank" class="fa fa-twitter"></a></li>
                    <li><a href="https://www.youtube.com/channel/UC3_BI1wcuToA-n_1uSnfb_w" target="_blank" class="fa fa-youtube"></a></li>
                    <li><a href="https://www.instagram.com/kyclopsradio?r=nametag" target="_blank" class="fa fa-instagram"></a></li>
                    <li><a href="https://open.spotify.com/show/2GWOpx2v6zGyHLcESPXtL5" target="_blank" class="fa fa-rss"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
