<div id="menu-3" class="content our-gallery">
    <div class="page-header">
        <h2 class="page-title">Our Gallery</h2>
    </div> <!-- /.page-header -->
    <div class="content-inner">
        <div class="row">
            <div class="col-md-6">
                <h3 class="widget-title">Our Latest Projects</h3>
            </div> <!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="filter-work pull-right">
                    <a href="#nogo" class="toggle-filter">Category Filter</a>
                    <ul class="filter-controls controls">
                        <li class="filter" data-filter="all">Show All</li>
                        <li class="filter" data-filter="branding">Branding</li>
                        <li class="filter" data-filter="graphic">Graphic Design</li>
                        <li class="filter" data-filter="nature">Nature</li>
                    </ul>
                </div> <!-- /.filter-work -->
            </div> <!-- /.col-md-6 -->
        </div> <!-- /.row -->
        <div class="row">
            <div id="Grid">
                <div class="col-md-4 col-sm-6 mix graphic">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="images/gallery/p1.jpg" alt="">
                            <div class="overlay-g">
                                <a href="images/gallery/p1.jpg" data-rel="lightbox" class="fa fa-search"></a>
                            </div>
                        </div> <!-- /.gallery-thumb -->
                        <div class="gallery-content">
                            <h4 class="gallery-title">Project Title One</h4>
                            <span class="gallery-category">Graphic Design</span>
                        </div> <!-- /.gallery-content -->
                    </div> <!-- /.gallery-item -->
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 mix branding">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="images/gallery/p2.jpg" alt="">
                            <div class="overlay-g">
                                <a href="images/gallery/p2.jpg" data-rel="lightbox" class="fa fa-search"></a>
                            </div>
                        </div> <!-- /.gallery-thumb -->
                        <div class="gallery-content">
                            <h4 class="gallery-title">Project Title Two</h4>
                            <span class="gallery-category">Branding</span>
                        </div> <!-- /.gallery-content -->
                    </div> <!-- /.gallery-item -->
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 mix nature">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="images/gallery/p3.jpg" alt="">
                            <div class="overlay-g">
                                <a href="images/gallery/p3.jpg" data-rel="lightbox" class="fa fa-search"></a>
                            </div>
                        </div> <!-- /.gallery-thumb -->
                        <div class="gallery-content">
                            <h4 class="gallery-title">Project Title Three</h4>
                            <span class="gallery-category">Nature</span>
                        </div> <!-- /.gallery-content -->
                    </div> <!-- /.gallery-item -->
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 mix branding">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="images/gallery/p4.jpg" alt="">
                            <div class="overlay-g">
                                <a href="images/gallery/p4.jpg" data-rel="lightbox" class="fa fa-search"></a>
                            </div>
                        </div> <!-- /.gallery-thumb -->
                        <div class="gallery-content">
                            <h4 class="gallery-title">Project Title Four</h4>
                            <span class="gallery-category">Branding</span>
                        </div> <!-- /.gallery-content -->
                    </div> <!-- /.gallery-item -->
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 mix graphic">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="images/gallery/p5.jpg" alt="">
                            <div class="overlay-g">
                                <a href="images/gallery/p5.jpg" data-rel="lightbox" class="fa fa-search"></a>
                            </div>
                        </div> <!-- /.gallery-thumb -->
                        <div class="gallery-content">
                            <h4 class="gallery-title">Project Title Five</h4>
                            <span class="gallery-category">Graphic Design</span>
                        </div> <!-- /.gallery-content -->
                    </div> <!-- /.gallery-item -->
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6 mix nature">
                    <div class="gallery-item">
                        <div class="gallery-thumb">
                            <img src="images/gallery/p6.jpg" alt="">
                            <div class="overlay-g">
                                <a href="images/gallery/p6.jpg" data-rel="lightbox" class="fa fa-search"></a>
                            </div>
                        </div> <!-- /.gallery-thumb -->
                        <div class="gallery-content">
                            <h4 class="gallery-title">Project Title Six</h4>
                            <span class="gallery-category">Nature</span>
                        </div> <!-- /.gallery-content -->
                    </div> <!-- /.gallery-item -->
                </div> <!-- /.col-md-4 -->
            </div> <!-- /#Grid -->
        </div> <!-- /.row -->
    </div> <!-- /.content-inner -->

</div>