<div class="col-md-2 visible-md visible-lg">
    <div class="main_menu">
        <ul class="menu">
            <li>
                <a class="show-6" href="#" data-toggle="tooltip" data-original-title="RADIO" style="line-height: 92px;">
                    <i class="fa-play-circle fa fa-pause icono-rojo" id="play-button"></i>
                </a>
            </li>
            <li><a class="show-1 homebutton" href="#" data-toggle="tooltip" data-original-title="INICIO"><i class="fa fa-eye"></i></a></li>
            <li><a class="show-3" href="#" data-toggle="tooltip" data-original-title="ARTICULOS" style="line-height: 82px;"><i class="fa fa-book"></i></a></li>
            <li><a class="show-2" href="#" data-toggle="tooltip" data-original-title="NOSOTROS" style="line-height: 82px;"><i class="fa fa-users"></i></a></li>
            <li><a class="show-5" href="#" data-toggle="tooltip" data-original-title="CONTACTO"><i class="fa fa-floppy-o" aria-hidden="true"></i></a></li>
            <li><a class="show-4" href="#" data-toggle="tooltip" data-original-title="SERVICIO"><i class="fa fa-floppy-o" aria-hidden="true"></i></a></li>
            <li><a class="show-6" href="#" data-toggle="tooltip" data-original-title="RADIO"><i class="fa fa-floppy-o" aria-hidden="true"></i></a></li>

        </ul>

    </div> <!-- /.main-menu -->
</div> <!-- /.col-md-2 -->