<!-- Nosotros -->
<div id="menu-2" class="content about-us">
    <div class="page-header">
        <h2 class="page-title">lA PANDILLA</h2>
    </div> <!-- /.page-header -->

    <div class="content-inner">
        <div class="row">
            <div class="col-md-7">
                <h3 class="widget-title">Kyclops Radio</h3>
                Kyclops Radio es una organización fundada por la necesidad de diversificar los medios de comunicación. Un espacio dedicado a la experiencia y experimentación artística, cultural y social a través de una plataforma de radio en línea.

                Buscamos en Kyclops Radio ser un medio donde los artistas se puedan expresar sus mensajes sin ningún tipo de censura y conectar con su público. Además, crear una relación con el público que le permita conectar con nuevas y diferentes formas de expresión. Experimentar con la creación de contenidos, trasladar la experiencia de consumir arte de parte de los locutores y darle seguimiento a la carrera de los artistas.

                Ofrecemos también a promotores un espacio con un público segmentado, de tal manera que puedan hacer llegar sus mensajes de forma eficaz y cumplir con sus objetivos, siempre y cuando estos coincidan con los valores de la organización.
                @*    <p>Our goal is to give you free website templates that you can use for any purpose. Genius is free HTML5 CSS3 template from <span class="blue">template</span><span class="green">mo</span>. This template can be viewed in tablets and mobile devices.</p>
                <p>Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for background images used in this template. This layout is based on <a rel="nofollow" href="http://getbootstrap.com">Bootstrap</a> responsive framework. Home and Gallery pages are integrated with <a rel="nofollow" href="https://github.com/duncanmcdougall/Responsive-Lightbox">Responsive Lightbox</a> for images.</p>
                *@
            </div> <!-- /.col-md-7 -->

        </div> <!-- /.row -->
        <div class="our-team">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="widget-title">Nosotros</h3>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <div class="member-thumb">
                            <img src="~/images/jorge-marshall.jpeg" alt="">
                        </div>
                        <div class="member-infos">
                            <h4 class="member-name">Jorge Marshall</h4>
                            <span class="member-role">Locutor</span>
                            <p class="member-desc">Desde la infancia me gustó que la radio podía transportarte a otros lugares del mundo, otros lugares de la historia y hasta otros lugares fuera de este mundo.</p>
                            <ul class="member-social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <div class="member-thumb">
                            <img src="~/images/angel.jpg" alt="">
                        </div>
                        <div class="member-infos">
                            <h4 class="member-name">Angel</h4>
                            <span class="member-role">Productor</span>
                            <p class="member-desc">Profesional de la producción audiovisual. El compartir ideas y sentimientos de manera audible es todo un reto, descubrir nuevas maneras de transmitir.</p>
                            <ul class="member-social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <div class="member-thumb">
                            <img src="images/mike.jpg" alt="">
                        </div>
                        <div class="member-infos">
                            <h4 class="member-name">Mike "The Beast"</h4>
                            <span class="member-role">Locutor / Productor</span>
                            <p class="member-desc">Me gusta explorar y platicarles mis descubrimientos. Poder compartir un momento agradable con nuestros escuchas, entretener informando y difundir contenido cultural es un placer..</p>
                            <ul class="member-social">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-linkedin"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- /.col-md-4 -->
            </div> <!-- /.row -->
        </div> <!-- /.our-team -->
    </div> <!-- /.content-inner -->
</div> 