<div id="menu-6" class="content about-us">

    <audio id="audio-player" src="https://stream-069.zeno.fm/n0x77d1wgxhvv?zs=79AKhFoDRN-5UZt8ucONAw"></audio>
    <div class="text-center">
        <h1 class="text-danger" style="font-size: 10rem;"><i class="fa fa-broadcast-tower"></i>Live</h1>

        <a href="#" data-toggle="tooltip" data-original-title="RADIO" style="line-height: 92px;">
            <i class="fa-play-circle fa fa-pause icono-rojo2" id="button2"></i>
        </a>
    </div>

    <div class="text-center">
        <input type="range" id="volumen-barra" class="form-range" min="0" max="100" value="75">
    </div>




    @* //EL ese para la radio => crear archivo //*@
    <script>
        var audio = document.getElementById("audio-player");
        var playButton = document.getElementById("button2");

        playButton.onclick = function () {
            if (audio.paused) {
                audio.play();
                playButton.classList.remove("fa-play-circle");
                playButton.classList.add("fa-pause-circle");
            } else {
                audio.pause();
                playButton.classList.remove("fa-pause-circle");
                playButton.classList.add("fa-play-circle");
            }
        }

        document.getElementById("volumen-barra").oninput = function () {
            audio.volume = this.value / 100;
        }
    </script>



</div>
