@{
    ViewData["Title"] = "KyclopsRadio";
}

<!DOCTYPE html>

<html class="no-js" lang="es">
<!--<![endif]-->
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <meta name="ESD" content="Proyecto Kyclops">
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://example.com/fontawesome/v6.4.0/js/all.js" data-auto-add-css="false"></script>
    <link href="https://example.com/fontawesome/v6.4.0/css/svg-with-js.css" rel="stylesheet">


    <!-- CSS Bootstrap & Custom -->
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/css/templatemo_misc.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link href="~/css/templatemo_style.css" rel="stylesheet" media="screen">


    <!-- Favicons -->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">

    <!-- JavaScripts -->
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/modernizr.js"></script>
   

</head>
<body>

    <audio id="radio" src="https://stream-069.zeno.fm/n0x77d1wgxhvv?zs=79AKhFoDRN-5UZt8ucONAw"></audio>

    <div class="bg-image"></div>
    <div class="overlay-bg"></div>



    <div class="responsive-navigation visible-sm visible-xs">
        <a href="#" class="menu-toggle-btn">
            <i class="fa fa-bars fa-2x"></i>
        </a>
        <div class="responsive_menu">
            <ul class="main_menu">
                @*<li><a class="show-7" href="#" data-toggle="tooltip"><i class="fa-play-circle fa fa-pause" id="play-button"></i>RADIO</a></li>*@
                <li><a class="show-1 homebutton" href="#"><i class="fa fa-eye"></i>INICIO</a></li>
                <li><a class="show-2" href="#"><i class="fa fa-users"></i>NOSOTROS</a></li>
                <li><a class="show-3" href="#"><i class="fa fa-book"></i>ARTICULOS</a></li>
                <li><a class="show-5" href="#"><i class="fa fa-floppy-o" aria-hidden="true"></i>CONTACTO</a></li>
            </ul> <!-- /.main_menu -->
        </div> <!-- /.responsive_menu -->
    </div> <!-- /responsive_navigation -->

    <div class="main-content">
        <div class="container">
            <div class="row">

                <!-- Static Menu -->
                <div class="col-md-2 visible-md visible-lg">
                    <div class="main_menu">
                        <ul class="menu">
                            <li><a class="show-7" href="#" data-toggle="tooltip" data-original-title="RADIO" style="line-height: 92px;"><i class="fa-play-circle fa fa-pause icono-rojo" id="play-button"></i></a></li>
                            <li><a class="show-1 homebutton" href="#" data-toggle="tooltip" data-original-title="INICIO"><i class="fa fa-eye"></i></a></li>
                            <li><a class="show-2" href="#" data-toggle="tooltip" data-original-title="NOSOTROS" style="line-height: 82px;"><i class="fa fa-users"></i></a></li>
                            <li><a class="show-3" href="#" data-toggle="tooltip" data-original-title="ARTICULOS" style="line-height: 82px;"><i class="fa fa-book"></i></a></li>
                            <li><a class="show-5" href="#" data-toggle="tooltip" data-original-title="CONTACTO"><i class="fa fa-floppy-o" aria-hidden="true"></i></a></li>
                        </ul>

                    </div> <!-- /.main-menu -->
                </div> <!-- /.col-md-2 -->
                <!-- Begin Content -->
                <div class="col-md-10">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="templatemo_logo">
                                <a href="#">
                                    <img src="~/images/KR-logo.png" alt="Genius">
                                </a>
                            </div> <!-- /.logo -->
                        </div> <!-- /.col-md-12 -->
                    </div> <!-- /.row -->


                    <div id="menu-container">

                        <div id="menu-1" class="homepage">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <div class="portfolio-item">
                                        <div class="overlay">
                                            <a href="~/images/programas/CL-img.png" data-rel="lightbox">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                        <img src="~/images/programas/CL-img.png" alt="Image 1">
                                    </div> <!-- /.portfolio-item -->
                                </div> <!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <div class="portfolio-item">
                                        <div class="overlay">
                                            <a href="~/images/programas/DS-img.png" data-rel="lightbox">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                        <img src="~/images/programas/DS-img.png" alt="Image 2">
                                    </div> <!-- /.portfolio-item -->
                                </div> <!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <div class="portfolio-item">
                                        <div class="overlay">
                                            <a href="~/images/programas/KY-img.png" data-rel="lightbox">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                        <img src="~/images/programas/KY-img.png" alt="Image 3">
                                    </div> <!-- /.portfolio-item -->
                                </div> <!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <div class="portfolio-item">
                                        <div class="overlay">
                                            <a href="~/images/programas/LC-img.png" data-rel="lightbox">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                        <img src="~/images/programas/LC-img.png" alt="Image 4">
                                    </div> <!-- /.portfolio-item -->
                                </div> <!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <div class="portfolio-item">
                                        <div class="overlay">
                                            <a href="~/images/programas/MD-img.png" data-rel="lightbox">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                        <img src="~/images/programas/MD-img.png" alt="Image 5">
                                    </div> <!-- /.portfolio-item -->
                                </div> <!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <div class="portfolio-item">
                                        <div class="overlay">
                                            <a href="~/images/programas/PQJ-img.png" data-rel="lightbox">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                        <img src="~/images/programas/PQJ-img.png" alt="Image 6">
                                    </div> <!-- /.portfolio-item -->
                                </div> <!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <div class="portfolio-item">
                                        <div class="overlay">
                                            <a href="~/images/programas/RV-img.png" data-rel="lightbox">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                        <img src="~/images/programas/RV-img.png" alt="Image 7">
                                    </div> <!-- /.portfolio-item -->
                                </div> <!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <div class="portfolio-item">
                                        <div class="overlay">
                                            <a href="~/images/programas/SP-img.png" data-rel="lightbox">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                        <img src="~/images/programas/SP-img.png" alt="Image 8">
                                    </div> <!-- /.portfolio-item -->
                                </div> <!-- /.col-md-4 -->
                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <div class="portfolio-item">
                                        <div class="overlay">
                                            <a href="~/images/programas/SY-img.png" data-rel="lightbox">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                        <img src="~/images/programas/SY-img.png" alt="Image 9">
                                    </div> <!-- /.portfolio-item -->
                                </div> <!-- /.col-md-4 -->
                            </div> <!-- /.row -->
                        </div> <!-- /.homepage -->

                        <div id="menu-2" class="content about-us">
                            <div class="page-header">
                                <h2 class="page-title">lA PANDILLA</h2>
                            </div> <!-- /.page-header -->
                            <div class="content-inner">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h3 class="widget-title">Kyclops Radio</h3>
                                        Kyclops Radio es una organización fundada por la necesidad de diversificar los medios de comunicación. Un espacio dedicado a la experiencia y experimentación artística, cultural y social a través de una plataforma de radio en línea.

                                        Buscamos en Kyclops Radio ser un medio donde los artistas se puedan expresar sus mensajes sin ningún tipo de censura y conectar con su público. Además, crear una relación con el público que le permita conectar con nuevas y diferentes formas de expresión. Experimentar con la creación de contenidos, trasladar la experiencia de consumir arte de parte de los locutores y darle seguimiento a la carrera de los artistas.

                                        Ofrecemos también a promotores un espacio con un público segmentado, de tal manera que puedan hacer llegar sus mensajes de forma eficaz y cumplir con sus objetivos, siempre y cuando estos coincidan con los valores de la organización.
                                        @*    <p>Our goal is to give you free website templates that you can use for any purpose. Genius is free HTML5 CSS3 template from <span class="blue">template</span><span class="green">mo</span>. This template can be viewed in tablets and mobile devices.</p>
                                        <p>Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for background images used in this template. This layout is based on <a rel="nofollow" href="http://getbootstrap.com">Bootstrap</a> responsive framework. Home and Gallery pages are integrated with <a rel="nofollow" href="https://github.com/duncanmcdougall/Responsive-Lightbox">Responsive Lightbox</a> for images.</p>
                                        *@
                                    </div> <!-- /.col-md-7 -->

                                </div> <!-- /.row -->
                                <div class="our-team">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="widget-title">Nosotros</h3>
                                        </div> <!-- /.col-md-12 -->
                                    </div> <!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="team-member">
                                                <div class="member-thumb">
                                                    <img src="~/images/jorge-marshall.jpeg" alt="">
                                                </div>
                                                <div class="member-infos">
                                                    <h4 class="member-name">Jorge Marshall</h4>
                                                    <span class="member-role">Locutor</span>
                                                    <p class="member-desc">Desde la infancia me gustó que la radio podía transportarte a otros lugares del mundo, otros lugares de la historia y hasta otros lugares fuera de este mundo.</p>
                                                    <ul class="member-social">
                                                        <li><a href="#" class="fa fa-facebook"></a></li>
                                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                                        <li><a href="#" class="fa fa-linkedin"></a></li>
                                                        <li><a href="#" class="fa fa-instagram"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div> <!-- /.col-md-4 -->
                                        <div class="col-md-4 col-sm-6">
                                            <div class="team-member">
                                                <div class="member-thumb">
                                                    <img src="~/images/angel.jpg" alt="">
                                                </div>
                                                <div class="member-infos">
                                                    <h4 class="member-name">Angel</h4>
                                                    <span class="member-role">Productor</span>
                                                    <p class="member-desc">Profesional de la producción audiovisual. El compartir ideas y sentimientos de manera audible es todo un reto, descubrir nuevas maneras de transmitir.</p>
                                                    <ul class="member-social">
                                                        <li><a href="#" class="fa fa-facebook"></a></li>
                                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                                        <li><a href="#" class="fa fa-linkedin"></a></li>
                                                        <li><a href="#" class="fa fa-instagram"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div> <!-- /.col-md-4 -->
                                        <div class="col-md-4 col-sm-6">
                                            <div class="team-member">
                                                <div class="member-thumb">
                                                    <img src="images/mike.jpg" alt="">
                                                </div>
                                                <div class="member-infos">
                                                    <h4 class="member-name">Mike "The Beast"</h4>
                                                    <span class="member-role">Locutor / Productor</span>
                                                    <p class="member-desc">Me gusta explorar y platicarles mis descubrimientos. Poder compartir un momento agradable con nuestros escuchas, entretener informando y difundir contenido cultural es un placer..</p>
                                                    <ul class="member-social">
                                                        <li><a href="#" class="fa fa-facebook"></a></li>
                                                        <li><a href="#" class="fa fa-twitter"></a></li>
                                                        <li><a href="#" class="fa fa-linkedin"></a></li>
                                                        <li><a href="#" class="fa fa-instagram"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div> <!-- /.col-md-4 -->
                                    </div> <!-- /.row -->
                                </div> <!-- /.our-team -->
                            </div> <!-- /.content-inner -->
                        </div> <!-- /.about-us -->

                        <div id="menu-3" class="content our-gallery">
                            <div class="page-header">
                                <h2 class="page-title">Our Gallery</h2>
                            </div> <!-- /.page-header -->
                            <div class="content-inner">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="widget-title">Our Latest Projects</h3>
                                    </div> <!-- /.col-md-6 -->
                                    <div class="col-md-6">
                                        <div class="filter-work pull-right">
                                            <a href="#nogo" class="toggle-filter">Category Filter</a>
                                            <ul class="filter-controls controls">
                                                <li class="filter" data-filter="all">Show All</li>
                                                <li class="filter" data-filter="branding">Branding</li>
                                                <li class="filter" data-filter="graphic">Graphic Design</li>
                                                <li class="filter" data-filter="nature">Nature</li>
                                            </ul>
                                        </div> <!-- /.filter-work -->
                                    </div> <!-- /.col-md-6 -->
                                </div> <!-- /.row -->
                                <div class="row">
                                    <div id="Grid">
                                        <div class="col-md-4 col-sm-6 mix graphic">
                                            <div class="gallery-item">
                                                <div class="gallery-thumb">
                                                    <img src="images/gallery/p1.jpg" alt="">
                                                    <div class="overlay-g">
                                                        <a href="images/gallery/p1.jpg" data-rel="lightbox" class="fa fa-search"></a>
                                                    </div>
                                                </div> <!-- /.gallery-thumb -->
                                                <div class="gallery-content">
                                                    <h4 class="gallery-title">Project Title One</h4>
                                                    <span class="gallery-category">Graphic Design</span>
                                                </div> <!-- /.gallery-content -->
                                            </div> <!-- /.gallery-item -->
                                        </div> <!-- /.col-md-4 -->
                                        <div class="col-md-4 col-sm-6 mix branding">
                                            <div class="gallery-item">
                                                <div class="gallery-thumb">
                                                    <img src="images/gallery/p2.jpg" alt="">
                                                    <div class="overlay-g">
                                                        <a href="images/gallery/p2.jpg" data-rel="lightbox" class="fa fa-search"></a>
                                                    </div>
                                                </div> <!-- /.gallery-thumb -->
                                                <div class="gallery-content">
                                                    <h4 class="gallery-title">Project Title Two</h4>
                                                    <span class="gallery-category">Branding</span>
                                                </div> <!-- /.gallery-content -->
                                            </div> <!-- /.gallery-item -->
                                        </div> <!-- /.col-md-4 -->
                                        <div class="col-md-4 col-sm-6 mix nature">
                                            <div class="gallery-item">
                                                <div class="gallery-thumb">
                                                    <img src="images/gallery/p3.jpg" alt="">
                                                    <div class="overlay-g">
                                                        <a href="images/gallery/p3.jpg" data-rel="lightbox" class="fa fa-search"></a>
                                                    </div>
                                                </div> <!-- /.gallery-thumb -->
                                                <div class="gallery-content">
                                                    <h4 class="gallery-title">Project Title Three</h4>
                                                    <span class="gallery-category">Nature</span>
                                                </div> <!-- /.gallery-content -->
                                            </div> <!-- /.gallery-item -->
                                        </div> <!-- /.col-md-4 -->
                                        <div class="col-md-4 col-sm-6 mix branding">
                                            <div class="gallery-item">
                                                <div class="gallery-thumb">
                                                    <img src="images/gallery/p4.jpg" alt="">
                                                    <div class="overlay-g">
                                                        <a href="images/gallery/p4.jpg" data-rel="lightbox" class="fa fa-search"></a>
                                                    </div>
                                                </div> <!-- /.gallery-thumb -->
                                                <div class="gallery-content">
                                                    <h4 class="gallery-title">Project Title Four</h4>
                                                    <span class="gallery-category">Branding</span>
                                                </div> <!-- /.gallery-content -->
                                            </div> <!-- /.gallery-item -->
                                        </div> <!-- /.col-md-4 -->
                                        <div class="col-md-4 col-sm-6 mix graphic">
                                            <div class="gallery-item">
                                                <div class="gallery-thumb">
                                                    <img src="images/gallery/p5.jpg" alt="">
                                                    <div class="overlay-g">
                                                        <a href="images/gallery/p5.jpg" data-rel="lightbox" class="fa fa-search"></a>
                                                    </div>
                                                </div> <!-- /.gallery-thumb -->
                                                <div class="gallery-content">
                                                    <h4 class="gallery-title">Project Title Five</h4>
                                                    <span class="gallery-category">Graphic Design</span>
                                                </div> <!-- /.gallery-content -->
                                            </div> <!-- /.gallery-item -->
                                        </div> <!-- /.col-md-4 -->
                                        <div class="col-md-4 col-sm-6 mix nature">
                                            <div class="gallery-item">
                                                <div class="gallery-thumb">
                                                    <img src="images/gallery/p6.jpg" alt="">
                                                    <div class="overlay-g">
                                                        <a href="images/gallery/p6.jpg" data-rel="lightbox" class="fa fa-search"></a>
                                                    </div>
                                                </div> <!-- /.gallery-thumb -->
                                                <div class="gallery-content">
                                                    <h4 class="gallery-title">Project Title Six</h4>
                                                    <span class="gallery-category">Nature</span>
                                                </div> <!-- /.gallery-content -->
                                            </div> <!-- /.gallery-item -->
                                        </div> <!-- /.col-md-4 -->
                                    </div> <!-- /#Grid -->
                                </div> <!-- /.row -->
                            </div> <!-- /.content-inner -->

                        </div> <!-- /.our-gallery -->

                        <div id="menu-4" class="content">
                            <div class="page-header">
                                <h2 class="page-title">Our Services</h2>
                            </div> <!-- /.page-header -->
                            <div class="content-inner">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="widget-title">Web Design and Development</h3>
                                    </div> <!-- /.col-md-12 -->
                                </div> <!-- /.row -->
                                <div class="row services">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="service">
                                            <div class="header">
                                                <div class="header-bg"></div>
                                                <div class="service-header">
                                                    <div class="icon">
                                                        <i class="fa fa-heart-o"></i>
                                                    </div>
                                                    <h4 class="service-title">HTML5 CSS3</h4>
                                                </div>
                                            </div>
                                            <div class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna felis, laoreet sed pulvinar mattis, aliquet non mauris.</div>
                                        </div>
                                    </div> <!-- /.col-md-4 -->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="service">
                                            <div class="header">
                                                <div class="header-bg"></div>
                                                <div class="service-header">
                                                    <div class="icon">
                                                        <i class="fa fa-flask"></i>
                                                    </div>
                                                    <h4 class="service-title">Web Marketing</h4>
                                                </div>
                                            </div>
                                            <div class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna felis, laoreet sed pulvinar mattis, aliquet non mauris.</div>
                                        </div>
                                    </div> <!-- /.col-md-4 -->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="service">
                                            <div class="header">
                                                <div class="header-bg"></div>
                                                <div class="service-header">
                                                    <div class="icon">
                                                        <i class="fa fa-money"></i>
                                                    </div>
                                                    <h4 class="service-title">Cost Effective</h4>
                                                </div>
                                            </div>
                                            <div class="body">Download free <a rel="nofollow" href="http://www.tooplate.com">templates</a> for your websites. Nullam viverra dolor fermentum erat ullamcorper, sit amet mattis nibh tempus.</div>
                                        </div>
                                    </div> <!-- /.col-md-4 -->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="service">
                                            <div class="header">
                                                <div class="header-bg"></div>
                                                <div class="service-header">
                                                    <div class="icon">
                                                        <i class="fa fa-eye"></i>
                                                    </div>
                                                    <h4 class="service-title">Retina Ready</h4>
                                                </div>
                                            </div>
                                            <div class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna felis, laoreet sed pulvinar mattis, aliquet non mauris.</div>
                                        </div>
                                    </div> <!-- /.col-md-4 -->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="service">
                                            <div class="header">
                                                <div class="header-bg"></div>
                                                <div class="service-header">
                                                    <div class="icon">
                                                        <i class="fa fa-mobile-phone"></i>
                                                    </div>
                                                    <h4 class="service-title">Responsive</h4>
                                                </div>
                                            </div>
                                            <div class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna felis, laoreet sed pulvinar mattis, aliquet non mauris.</div>
                                        </div>
                                    </div> <!-- /.col-md-4 -->
                                    <div class="col-md-4 col-sm-6">
                                        <div class="service">
                                            <div class="header">
                                                <div class="header-bg"></div>
                                                <div class="service-header">
                                                    <div class="icon">
                                                        <i class="fa fa-cogs"></i>
                                                    </div>
                                                    <h4 class="service-title">Settings</h4>
                                                </div>
                                            </div>
                                            <div class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna felis, laoreet sed pulvinar mattis, aliquet non mauris.</div>
                                        </div>
                                    </div> <!-- /.col-md-4 -->
                                </div> <!-- /.row -->
                            </div> <!-- /.content-inner -->

                        </div> <!-- /.services -->

                        <div id="menu-5" class="content">
                            <div class="page-header">
                                <h2 class="page-title">CONECTA CON KYCLOPS</h2>
                            </div> <!-- /.page-header -->
                            <div class="content-inner">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h3 class="widget-title"></h3>
                                        <p>"¡Tu opinión nos importa! En KyclopsRadio queremos estar en sintonía contigo y conocer tus comentarios, sugerencias y hasta peticiones de canciones. Si eres un artista o banda independiente, ¡no dudes en contactarnos! Queremos apoyar la música local y descubrir nuevos talentos.</p>
                                        <div class="row contact-form">
                                            <div class="col-md-4">
                                                <label for="name-id">Your Name:</label>
                                                <input name="name-id" type="text" id="name-id" maxlength="40">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="email-id">E-mail:</label>
                                                <input name="email-id" type="text" id="email-id" maxlength="40">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="subject-id">Subject:</label>
                                                <input name="subject-id" type="text" id="subject-id" maxlength="60">
                                            </div>
                                        </div> <!-- /.contact-form -->
                                        <p class="full-row">
                                            <label for="message">Message:</label>
                                            <textarea name="message" id="message" rows="6"></textarea>
                                        </p>
                                        <input class="mainBtn" type="submit" name="" value="Send Message">
                                    </div> <!-- /.col-md-8 -->
                                    <div class="col-md-4">
                                        <div class="information">
                                            <h3 class="widget-title">Information</h3>
                                            <ul class="our-location">
                                                <li><span><i class="fa fa-map-marker"></i>Address:</span>México CDMX</li>
                                                <li><span><i class="fa fa-map-marker"></i>Phone:</span>55 8722 9590</li>
                                                <li><span><i class="fa fa-map-marker"></i>Email:</span><a href="mailto:kyclopsradio@outlook.com">kyclopsradio@outlook.com</a></li>
                                            </ul>
                                        </div> <!-- /.information -->
                                       
                                    </div> <!-- /.col-md-4 -->
                                </div> <!-- /.row -->
                            </div> <!-- /.content-inner -->

                        </div> <!-- /.stay-in-touch -->

                        <div class="site-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="copyright-text">
                                        &copy; 2023 Kyclops Radio
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="social-icons-footer">
                                        <ul>
                                            <li><a target="_parent" href="https://www.facebook.com/KyclopsRadio" class="fa fa-facebook"></a></li>
                                            <li><a href="https://twitter.com/KyclopsRadio?s=08" class="fa fa-twitter"></a></li>
                                            <li><a href="https://www.instagram.com/kyclopsradio?r=nametag" class="fa fa-youtube"></a></li>
                                            <li><a href="https://www.instagram.com/kyclopsradio?r=nametag" class="fa fa-instagram"></a></li>
                                            <li><a href="https://open.spotify.com/show/2GWOpx2v6zGyHLcESPXtL5" class="fa fa-rss"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.site-footer -->

                    </div> <!-- /.content-holder -->

                </div> <!-- /.col-md-10 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.main-content -->

    
    <script src="~/js/RadioJs.js"></script>


    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/js/jquery.mixitup.min.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/jquery.lightbox.js"></script>
    <script src="~/js/templatemo_custom.js"></script>
    
</body>
</html>

